
/* KOLORY
#fad290
#db8e58

FAD290
FFCF80
FFC566

246DB2
66B4FF
*/

$color_duzych_napisow: antiquewhite;
$nav_menu_background: transparentize(black, 0.1);
$color_tekst_menu: white;
$color_tekst_menu_hover: orange;

$szerokosc_ramki_funkcjonalnosci: 220px;
$kolor_textu_funkcjonalnosci: $color_duzych_napisow;
$kolor_opisu_tekstu_funkcjonalnosci: $color_duzych_napisow;
$marginesy_ramek_funkcjonalnosci: 10px 10px;
$tlo_ramki_funkcjonalnosci: #814945;

$text-color: #faebd7;
$background-color: #814945;

$color_ciemnosci: #423137;
$color_duzych_napisow: antiquewhite;
$color_ozdob: #814945;
$big_font_size: 10vw;
$funkcjinalnosci_tlo_bialy: #f0f0f0;
