$color_duzych_napisow: antiquewhite;

.nawigacja {
  background-color: transparentize(black, 0.8);
  box-sizing: border-box;
  justify-content: center;
  padding: 4px 0;
  position: fixed;
  width: 100%;
}

.navbar-brand img {
  max-height: 40px;
  padding-bottom: 5px;
}

.navbar {
  margin-bottom: 0;
  border: none;
}

.navbar-header {
  font-size: 2.5em;
  text-transform: uppercase;
  font-weight: 700;
}

.navbar-right {
  text-decoration: none;
  font-size: 0.90em;
  font-weight: 600;
  text-transform: uppercase;
  outline: 0;
  margin-top: 0.3em;
}

.navbar-default {
  .navbar-brand, .navbar-nav>li>a {
    color: #FFFFFF;
  }
}

.navbar-nav>li>a:hover {
  border: solid;
  color: greenyellow;
}