$szerokosc_ramki_funkcjonalnosci: 220px;
$kolor_textu_funkcjonalnosci: antiquewhite;
$kolor_opisu_tekstu_funkcjonalnosci: antiquewhite;
$marginesy_ramek_funkcjonalnosci: 10px 10px;
$tlo_ramki_funkcjonalnosci: #814945;

.funkcjonalnosci {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  background-color: antiquewhite;
  padding: 30px 15px;

  .styl_ramki_funkcjonalnosci {
    text-align: center;
    border-radius: 5%;
    box-shadow: 2px 2px 6px #29140a;
    background-color: $tlo_ramki_funkcjonalnosci;
    width: $szerokosc_ramki_funkcjonalnosci;
    margin: $marginesy_ramek_funkcjonalnosci;
    color: $kolor_textu_funkcjonalnosci;
    transition: background-color 2s;
    &:hover {
      background-color: rgba(129, 54, 10, 0.91);
    }

    h1 {
      font-size: 20px;
    }

    .ikona_funkcjonalnosci {
      margin: 20px auto;
      display: block;
      background-color: antiquewhite;
      width: 40px;
      height: 40px;
      border-radius: 100%;
      line-height: 35px;
      img {
        vertical-align: middle;
      }
    }

    p {
      margin: 10px;
      padding: 10px;
    }

    .opis_funkcjonalnosci {
      color: $kolor_opisu_tekstu_funkcjonalnosci;

      .lista_funkcjonalnosci {
        list-style: circle;
        text-align: left;
      }
    }
  }
}


