@import "colors";

.zapis {
  background-color: #423137;
  text-align: center;
  color: $text-color;
  padding: 10px;
}

.naglowek_formularza {
  margin: 0;
  padding: 20px 0 20px 0;
  text-shadow: 4px 4px 2px $background-color;
}

.opis_wiadomosci {
  text-shadow: 4px 4px 2px $background-color;
  font-size: 20px;
}

.button,
input,
optgroup,
select,
textarea {
  color: $background-color;
}

.formularz {
  padding: 20px;
}

.wpisz_email {
  font-size: 20px;
  text-align: center;
  margin: 15px 0;
}

.button_od_maila {
  margin: 10px 0 0 0;
  padding: 10px;
  color: $background-color;
}

//form:invalid {
//  border: 5px solid #ff1a1f;
//}
//
//form:valid {
//  border: 5px solid #1dff0b;
//}

input:invalid {
  background-color: #ffffff;
}

input:required {
  border-color: forestgreen;
  border-width: 5px;
}

input:required:invalid {
  border-color: #ffb626;
}
