.o_nas {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.about_agata,
.about_karolina,
.about_marek,
.about_pawel {
  margin: 10px;
  width: 220px;
  background-color: red;
}





.o_mnie {
  margin-left: 100px;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 350px;
  background-color: red;
  transform: scale(1);
  transition: all 1s ease;

  &:hover {
    .rotacja1, .rotacja2 {
      opacity: 1;


    }

    .ikona1 {
      visibility: visible;
      padding-top: 50%
    }

    background-color: yellow;
    transform: scale(0.9);
    filter: brightness(0.7);
  }
}


.pierwszy_div {
  //background-color: #1b6d85;
  width: 100%;
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}


.drugi_div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  //background-color: #854a71;
  width: 100%;
  flex: 1;

}

.trzeci_div {
  //background-color: #74851d;
  width: 100%;
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.rotacja1 {
  position: absolute;
  background-color: #2b542c;
  top: 50%;
  width: 100%;
  border-top: 1px black solid;
  transform: rotate(45deg);
  opacity:0;
  transition: all 1s linear;



}

.rotacja2 {
  position: absolute;
  top: 50%;
  width: 100%;
  border-top: 1px black solid;
  transform: rotate(-45deg);
  opacity: 0;
  transition: all 1s linear;


}

.ikona1 {
  visibility: hidden;
  margin: 0;
  padding-top: 0;
  transition: all 1s ease;


}

.ikona2 {

}


.ikona3 {

}


.ikona4 {

}






//style do proby hovera:

//
//
//.o_mnie {
//  width: 300px;
//  height: 415px;
//
//  margin: 20px;
//}
//
//.agata {
//  position: relative;
//  width: 300px;
//  height: 415px;
//  backgroun-color: red;
//  //background-image: url();
//  //background-repeat: no-repeat;
//  //background-position: center;
//  transform: scale(1.1);
//  transition: all 0.5s;
//  box-shadow: 2px 2px 4px black;
//  &:hover {
//    transform: scale(1);
//    filter: brightness(0.7);
//  }
//}
//
//.rotate1 {
//  position: absolute;
//  top: 50%;
//  right: 25%;
//  width: 50%;
//  background-color: transparent;
//  transform: rotate(45deg);
//  border-top: 2px solid white;
//  display: inline-flex;
//  flex-direction: row;
//  justify-content: space-between;
//}
//
//.rotate2 {
//  position: absolute;
//  top: 50%;
//  right: 25%;
//  width: 50%;
//  background-color: transparent;
//  transform: rotate(-45deg);
//  border-top: 2px solid white;
//  display: inline-flex;
//  flex-direction: row;
//  justify-content: space-between;
//}
//
//
//.icon1 {
//  transform: rotate(-45deg);
//}